{% set pageTitle = "Home" %}

{% extends '_layouts/default.njk' %} 

{% block main %}
<section class="container">

<h2>Cras eget consequat enim
    </h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu elit id ligula convallis tempor. Sed sapien odio, vehicula non vehicula vitae, volutpat non ante. Cras mattis aliquam turpis, sed vulputate dui pharetra id. Etiam vitae tellus at nulla rhoncus hendrerit tristique at nisl. Aliquam suscipit auctor magna sed consectetur. Nullam fermentum ex a nunc mollis molestie. Phasellus pretium lacus nec rhoncus venenatis. Nam a est eu leo ornare ornare quis in quam.</p>

    <p>In turpis enim, consectetur a tempus ac, varius sed mauris. Aenean dignissim velit sit amet finibus fermentum. Sed sagittis augue et magna lobortis cursus. Aenean tempus gravida tempus. Nam nunc metus, varius sit amet bibendum eu, posuere id est. Integer euismod libero id risus condimentum rutrum. Vestibulum lobortis gravida est, et tincidunt arcu hendrerit condimentum. Nulla accumsan odio dui, at imperdiet mi feugiat quis. Curabitur hendrerit mi nibh, a ultricies sapien feugiat a. Ut sodales lorem ut justo tempor tempor. Donec fermentum facilisis malesuada. Etiam et blandit risus. Nam vestibulum augue felis, ultricies laoreet mi tempus in. Cras ac mi tortor. Vivamus nec leo vel odio tincidunt congue.</p>

    <p>Nullam sit amet felis non ligula malesuada volutpat. Aliquam erat volutpat. Integer venenatis nulla sed ante lacinia, ut faucibus metus blandit. Vestibulum sed magna condimentum urna consequat lacinia ac at sem. Sed sed tristique tellus. Nulla facilisi. Sed fringilla, mi eu iaculis auctor, elit augue porttitor enim, rutrum auctor neque elit nec sem. In pulvinar lacus at egestas cursus. In vitae metus lacinia, vulputate metus eget, porta purus. Phasellus sollicitudin laoreet vehicula.</p>
</section>
{% endblock %}