{% set pageTitle = "Ivy Plus Academy" %}
{% set crumb = 'About' %}

{% extends '_layouts/default.njk' %}

{% import '_macros/hero.njk' as hero %}

{% block main %}
    {{ hero.hero(pageTitle, "is-dark", crumb) }}
    <section class="section">
        <article class="content">
            <h2>Fern Creek High School Ivy Plus Academy</h2>
            <p>The lvy Plus Academy’s purpose is to ensure students’ acceptance into the nation’s most selective colleges and universities.</p>
            <p>lvy Plus Academy students will travel as a cohort in their core classes to ensure rigorous academic standards and to maintain the integrity of the lvy Plus Academy philosophy and purpose.</p>
            <p>lvy Plus Academy students will take multiple Advanced Placement and dual-credit classes throughout their time at Fern Creek to maximize potential college credit opportunities. lvy Plus Academy students will have access to one-on-one college counseling services which include college selection, application assistance, financial aid support and extensive college visits.</p>
            <p>lvy Plus Academy students will be prioritized and provided support for leadership and scholarship opportunities such as National Merit Scholarships, Governor Scholars, Vogt Scholarships, and Governor School for the Arts.</p>
            <h4>IVY PLUS ACADEMY &mdash; <a href="/docs/pdfs/Ivy-Plus-Case-Statement-with-expanded-student-portraits-5-1-18.pdf" target="_blank">Ivy Plus Information with expanded student portraits</a>
            </h4>
            <p>Our brightest and most talented students are our best hope for an innovative, compassionate, and just future. When myriad and diverse perspectives are included in creating the vision for that future, we all benefit. However, many of those diverse voices do not get a seat at the table because they miss out on the post-secondary preparation necessary to be competitive in the workforce.  Undermatching is a national phenomenon in which high-achieving students do not apply to, or attend the most selective colleges and universities and, as a result, have lower graduation rates, higher student loans, and fewer educational advantages than their equally qualified peers. Undermatching most profoundly affects students from less-affluent backgrounds, first generation college-going students, and minority students. </p>
            <p>These students are traditionally underrepresented on many college campuses, but nationwide efforts to diversify student enrollment have put them in high demand. Our students need these schools, but these schools also need them- and are willing to provide significant financial resources to our students to ensure they are able to attend.</p>
            <h4>The Numbers &mdash;</h4>
            <p>Fern Creek’s Ivy Plus Academy currently operates with no specifically designated federal, state, or district funding. Current funding comes from Fern Creek High School’s general budget and Fern Creek Alumni Association’s generous support.</p>
            <p>All of the money that is donated to the Fern Creek Alumni Association earmarked for Ivy Plus goes directly to our students with no overhead cost.  This fund is used to pay for personal effects for students as they travel to college: travel costs, luggage, outerwear, and technology. </p>
            <p>We are asking for a funding amount per student of $500. This amount would cover the following experiences and materials: </p>
            <ul>
                <li>Freshmen Orientation and Retreat</li>
                <li>Summer 2 day College Experience</li>
                <li>Summer 3 day College Experience </li>
                <li>College Application Fees</li>
                <li>College Visits</li>
                <li> ACT Score Fees</li>
                <li>Outfitting seniors for college — supplies, luggage, travel expenses, etc.</li>
            </ul>
            <p>Our enrollment goal for 2022 is 400 students. We would need $200, 000 in outside funding to meet the needs of our Ivy Plus students beginning with our current freshmen class.</p>
            <p>
                <a href="/docs/pdfs/Fern-Creek-High-School-Ivy-Plus-Academy-Short-Form-with-Ask.pdf" target="_blank">Fern Creek High School Ivy Plus Academy - Highlights &amp; Needs</a>
            </p>
            <p>To Donate: Visit our Online Application and Webpage at <a href="//www.ivyplusacademy.org">iveplusacademy.org</a>
            </p>
            <p>To Learn More: Contact Rebecca Nicolas at <a href="mailto:Rebecca.nicolas@jefferson.kyschools.us">Rebecca.nicolas@jefferson.kyschools.us</a> or <a href="tel:5024858251">(502) 485-8251</a>
            </p>
        </article>
    </section>
{% endblock %}