<footer role="contentinfo">
   <div class="social">
      <div class="container has-text-centered">
         <div class="columns is-vcentered is-centered">
            <div class="column is-2">
               <a target="_blank" href="https://www.facebook.com/ferncreekalumni/">
                  <i class="fab fa-5x fa-facebook-square"></i>
               </a>
            </div>
            <div class="is-size-4 is-4 column has-text-left-tablet">
               <p>
                   Follow us on Facebook to<br />
                  keep up with recent events.
               </p>
            </div>
         </div>
      </div>
   </div>
   <div class="copy">
      <div class="container has-text-centered pt-6 pb-3">
         <p>
            Copyright &copy; 2021 Fern Creek High School Alumni. Website design
            &amp; hosting by <a href="/site-info/">RFX Technologies</a>.
         </p>
      </div>
   </div>
</footer>
