<footer class="footer" role="contentinfo">
   <div class="social">
      fb icon
      <p>
         Follow us on Facebook to<br />
         keep up with recent events.
      </p>
   </div>
   <div class="copy">
      <p>
         Copyright &copy; 2021 Fern Creek High School Alumni. Website design
         &amp; hosting by <a href="/site-info/">RFX Technologies</a>.
      </p>
   </div>
</footer>
