{%
    set navItems = [
        {
            name: "Home",
            link: "/"
        },
        {
            name: "About",
            link: "/about",
            subNavItems: [
                {
                    name: "Board",
                    link: "/about/board"
                },
                {
                    name: "Financial Review",
                    link: "/about/financial-review"
                },
                {
                    name: "Newsletters",
                    link: "/about/newsletters"
                },
                {
                    name: "Ivy Plus Academy",
                    link: "/about/ivyplus"
                }
            ]
        },
        {
            name: "Events",
            link: "/events-and-reunions",
            subNavItems: [
                {
                    name: "Class Events",
                    link: "/events-and-reunions/events"
                },
                {
                    name: "Class Reunions",
                    link: "/events-and-reunions/reunions"
                },
                {
                    name: "Hall of Fame",
                    link: "/events-and-reunions/hall-of-fame"
                },
                {
                    name: "Alumni Band",
                    link: "/events-and-reunions/alumni-band"
                },
                {
                    name: "Calendar",
                    link: "/events-and-reunions/calendar"
                }
            ]
        },
        {
            name: "Support",
            link: "/support",
            subNavItems: [
                {
                    name: "Alumni Association Membership",
                    link: "/support/membership"
                },
                {
                    name: "Ways to Give",
                    link: "members.ferncreekalumni.com/membership-options",
                    target: "_blank"
                },
                {
                    name: "Alumni Auditorium",
                    link: "/support/alumni-auditorium"
                },
                {
                    name: "Fundraising Events",
                    link: "/support/fundraising"
                }
            ]
        },
        {
            name: "Members",
            link: "https://members.ferncreekalumni.com/",
            target: "_blank"
        },
        {
            name: "Gallery",
            link: "/gallery"   
        }
    ]
%}

<header class="header" role="banner">
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" alt="Fern Creek Alumni Logo">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">

                {% for item in navItems %}
                    {% if item.subNavItems %}
                        <div class="navbar-item had-dropdown is-hoverable">
                            <a href={{item.link}} class="navbar-link is-arrowless">{{item.name}}</a>
                            <div class="navbar-dropdown">
                                {% for subItem in item.subNavItems %}
                                    <a href={{subItem.link}} class="navbar-item">{{subItem.name}}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% if item.target %}
                            <a href={{item.link}} target={{item.target}} class="navbar-item">{{item.name}}</a>
                        {% else %}
                            <a href={{item.link}} class="navbar-item">{{item.name}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    </nav>
</header>
