{% set pageTitle = "Financial Review" %}
{% set crumb = 'About' %}

{% extends '_layouts/default.njk' %}

{% import '_macros/hero.njk' as hero %}

{% block main %}
    {{ hero.hero(pageTitle, "is-dark", crumb) }}
    <section class="section">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
            <ul>
                {% if crumb %}
                    <li>
                        <a href="/{{crumb}}/">{{crumb}}</a>
                    </li>
                {% endif %}
                <li class="is-active">
                    <a href="#" aria-current="page">{{pageTitle}}</a>
                </li>
            </ul>
        </nav>
        <article class="content">
            <p>
                <a href="/docs/pdfs/Fern-Creek-High-School-Alumni-Association-Financial-Review-12-31-19.pdf" target="_blank">Fern Creek High School Alumni Association Financial Review 12-31-19</a>
            </p>
            <p>
                <a href="/docs/pdfs/2019-Fern-Creek-High-School-Alumni-Assoc-990.pdf" target="_blank">2019 Fern Creek High School Alumni Assoc. 990</a>
            </p>
            <p>
                <a href="/docs/pdfs/2018-Review-Report.pdf" target="_blank">Fern Creek High School Alumni Association Financial Review 12-31-2018</a>
            </p>
            <p>
                <a href="/docs/pdfs/2018-FERN-CREEK-TRADITIONAL-HIGH-SCHOOL-Exempt-Organization-Tax-Return-Client-Copy.pdf" target="_blank">2018 FERN CREEK HIGH SCHOOL Alumni Assoc. 990</a>
            </p>
            <p>
                <a href="/docs/pdfs/NFP-Fern-Creek-High-School-Alumni-Association-Inc.-Review-12-17-LOUDT.pdf" target="_blank">Fern Creek High School Alumni Association Financial Review 12-31-17</a>
            </p>
            <p>
                <a href="/docs/pdfs/2017-FERN-CREEK-TRADITIONAL-HIGH-SCHOOL-Exempt-Organization-Tax-Return-Client-Copy.pdf" target="_blank">2017 FERN CREEK HIGH SCHOOL Alumni Assoc. 990</a>
            </p>
            <p>
                <a href="/docs/pdfs/Report-FCAA-2016.pdf" target="_blank">Fern Creek High School Alumni Association Financial Review 12-31-16</a>
            </p>
            <p>
                <a href="/docs/pdfs/2016-FERN-CREEK-HIGH-SCHOOL-Alumni-Assoc-990.pdf" target="_blank">2016 FERN CREEK HIGH SCHOOL Alumni Assoc. 990</a>
            </p>
        </article>
    </section>
{% endblock %}