/*
* Fonts
* ======================================================================== */
$family-primary: 'Montserrat', 'Century Gothic', Verdana, sans-serif;

/*
* Colors
* ======================================================================== */

$facebook-blue: #3A559F;
$orange: #E78C19;
$lightorange: rgba(#E78C19, .33);
$grey: #E2E2E2;


