/*
* Fonts
* ======================================================================== */

/*
* Colors
* ======================================================================== */

/*
* Spacing
* ======================================================================== */

/*
* Media Query Breakpoints
* ======================================================================== */

$screen-xs-min: 0;
$screen-s-min: 480px; /* Extra small screen / phone */
$screen-m-min: 768px; /* Small screen / tablet */
$screen-l-min: 992px; /* Medium screen / desktop */
$screen-xl-min: 1200px; /* Large screen / wide desktop */
$screen-xxl-min: 1400px;
