/*
* Fonts
* ======================================================================== */
$family-primary: 'Montserrat', 'Century Gothic', Verdana, sans-serif;

/*
* Colors
* ======================================================================== */


$facebook-blue: #3A559F;
$orange: #E78C19;
$lightorange: #f3ce9e;
$grey: #E2E2E2;
$primary: $orange;